{% extends 'base_admin.html' %}
{% block content %}
<style>
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
background: #DE6262;  /* fallback for old browsers */
background-color : #20222A;
float:left;
width:100%;
padding : 100px 0;
}
.banner-sec{background:url(https://mn.kbs.co.kr/data/news/2017/06/14/3497903_Z56.png)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<center>
{% if messages %}
 {% for message in messages %}
 <div class="alert alert-warning alert-dismissable" role="alert">
 <button class="close" data-dismiss="alert">
 <small><sup>x</sup></small>
 </button>
 {{ message }}
 </div>
 {% endfor%}
{% endif %}
</center>

<section class="login-block">
<form "{% url 'EditFreeShipping'%}" class="needs-validation" novalidate method = "POST">{% csrf_token %}

    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Free Shipping Edit</h2>
		    <form class="login-form">
  
  <div class="form-group">
  <label for="exampleInputPassword1" ><b>Shipping Price:</b></label>
  <input type="text" class="form-control"value="{{FreeShipping.shippingPrice}}" id="priceShipping" name="priceShipping">
  </div>

  <div class="form-group">
  <label for="exampleInputPassword1" ><b>Total Price To Free Shipping:</b></label>
  <input type="text" class="form-control"  value="{{FreeShipping.FreeShipping_totalPrice}}" id="priceAmonut" name="priceAmonut">
  </div>
  
  
    <div class="form-check">
    <button type="submit" class="btn btn-login float-right">Edit</button>
  </div>
  
</form>
<div class="copy-text">Created with <i class="fa fa-heart"></i> by OnlineStyle</div>
		</div>
		<div class="col-md-8 banner-sec">
     	
    </div>
  </div>	   
		    
		</div>
	</div>
</div>
</form>
</section>

  {% endblock content %}

